<div class="card m-t-50">
    <h5 class="card-header">UseValue works</h5>
    <div class="card-body"> 
      <h3>{{this.api.dev}}</h3>

      <div class="container">
        <div class="row">
              <div class="col">
                    <p>Use Value</p>
                    <pre>
                    <code>{{useValue}}</code>
                    </pre> 
              </div>
              <div class="col">
                    <p>Use Value Component</p>
                    <pre>
                    <code>{{useValueComponents}}</code>
                    </pre> 
              </div>
        </div>
      </div>

    </div>
  </div>