<div class="card m-t-50">
    <h5 class="card-header">Useexisting works</h5>
    <div class="card-body"> 
      <h3>{{counter}}</h3>
      <button  class="btn btn-primary m-t-15"  (click)="onSetValue()">Update Value</button>
      <button  class="btn btn-primary m-t-15  m-l-15"  (click)="onClearValue()">Clear Value</button>
    
      <div class="container">
        <div class="row">
              <div class="col">
                    <p>Counter</p>
                    <pre>
                    <code>{{counterService}}</code>
                    </pre> 
              </div>
              <div class="col">
                    <p>Counter 2</p>
                    <pre>
                    <code>{{counterService2}}</code>
                    </pre> 
              </div>
        </div>
      </div>
    
      <div class="container">
        <div class="row">
              <div class="col">
                    <p>Component</p>
                    <pre>
                    <code>{{useExistComponent}}</code>
                    </pre> 
              </div>
        </div>
      </div>

    </div>
  </div>

  