<div class="card m-t-50">
    <h5 class="card-header">User class</h5>
    <div class="card-body"> 
      <h4>Output Result: {{_logger}}</h4>
      <div class="container">
            <div class="row">
                  <div class="col">
                        <p>Use Service</p>
                        <pre>
                        <code>{{useService}}</code>
                        </pre> 
                  </div>
                  <div class="col">
                        <p>New Use Service</p>
                        <pre>
                        <code>{{usenewService}}</code>
                        </pre> 
                  </div>
            </div>
      </div>
      <div class="container">
            <div class="row">
                  <p>Use Class Component</p>
                  <pre>
                  <code>{{useComponent}}</code>
                  </pre> 
            </div>
      </div>
    </div>
  </div>  
